.navbar {
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,0.5437972978487482) 0%, rgba(0,0,0,0) 79%);
}

.typing-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.input-cursor {
	display: inline-block;
	width: 2px;
	height: 42px;
	background-color: white;
	margin-left: 8px;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}


.input-cursor { 
  animation: blink .6s linear infinite alternate;
}

.footer {
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,0.5437972978487482) 0%, rgba(0,0,0,0) 79%);
}
